.homeCenter{
    
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 10%;
}




.blogText{
    color: black;
    text-shadow: -1px 0 black, 0 0.25px black, 0.25px 0 black, 0 -1px black;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1000px;
    min-height: 1000px;
}

.imgContainer{
    object-fit: contain;
    max-width: 700px;
    max-height: 700px;
}

.homeSizing {
        height: 90px;
        width: 25px;
        position: absolute;
        left: 33%;
        margin-top: 4%;
}

.homeLogo {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px 0 black, 0 0.25px black, 0.25px 0 black, 0 -1px black;
}

.homeMiddle a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
   
}
.homeMiddle a:hover{
    font-size: 1.25em;
}
