.center{
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 10%;
    text-align: center;
    margin-top: 15%;
    /* bottom: 2%; */
}

/* body{
    background:linear-gradient(to right, #02AAB0, #00CDAC ); 
} */

.blogText{
    color: black;
    /* text-shadow: -1px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black; */
    font-size: 25px;
    font-family:  Verdana, Geneva, sans-serif;
    /* width: 600px; */
    position: absolute;
    text-align: center;
    /* bottom: 2%; */
    /* top: 50vh; */
    /* left: 19vw; */
}