.sizing{
    height: 90px;
    width: 50%;
    position: absolute;
    left: 25%;
    margin-top: 4%;
}
.topMiddle{
    text-align: center;
    display: flex;
    justify-content: space-around;
    

}
.topMiddle a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
.topMiddle a:hover{
    font-size: 1.25em;
}

