
.editDisplay{
    width: 90%;
    min-height: 400px;
    /* position: absolute; */
    /* left: 10%; */
    text-align: center;
    margin-top: 6%;
    background-color: rgb(151, 215, 240, 0.5);
    padding: 10px;
    /* margin: 10px; */
    border-radius: 3.14159265358979%;
    /* z-index: -1; */
}