/* .editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  
  .options {
    margin-bottom: 20px;
  } */

  .editCenter{
    width: 80%;
    min-height: 500px;
    margin-top: 12%;
    /* margin: 0 auto; */
    background-color: rgb(151, 215, 240, 0.5);
    /* padding: 10px; */
    /* margin: 10px; */
    border-radius: 3.14159265358979%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.bottomButton{
    position: absolute;
    bottom: 2%;
    top: 15px;
    left: 90vw;
    
}

.button{
    background: rgba(63, 123, 146, 0.5);
    border-radius: 6%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    font-size: 1.03em;
    cursor: pointer;
}

.preview{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.tryingToCenter{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

